body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: "Segoe UI", sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  padding: 25px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #00f5ff, #00ff9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#display {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 12px;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: right;
  padding: 10px;
  font-weight: 600;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  color: #111;

  outline: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  overflow-x: auto;

}

#display.error {
  color: #ff4d4d
}

#display.success {
  color: #00ff9d;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 60px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  background: linear-gradient(145deg, #00c6ff, #0072ff);
  color: white;
  font-weight: bold;
}

.op {
  background: linear-gradient(145deg, #ff7e5f, #feb47b);
}

.equal {
  background: linear-gradient(145deg, #00ff87, #60efff);
}

.clear {
  background: red;
}

.mic {
  width: 100%;
  margin-top: 15px;
  height: 55px;
  background: linear-gradient(145deg, #00ff87, #00c9ff);
}